
{{#crumbs}}
    <a class="button" href="{{href}}">{{content}}</a>
{{/crumbs}}
{{#home}}
    <a class="button no-arrow primary" id="header" href="/"><h1><i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle-blank"></i> TUBE <i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle"></i></h1></a>
    <a class="button no-arrow" href="/create">create</a>
    <a class="button no-arrow" href="/about">about</a>
{{/home}}
{{#create}}
    <a class="button no-arrow" id="header" href="/"><h1><i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle-blank"></i> TUBE <i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle"></i></h1></a>
    <a class="button no-arrow primary" href="/create">create</a>
    <a class="button no-arrow" href="/about">about</a>
{{/create}}
{{#about}}
    <a class="button no-arrow" id="header" href="/"><h1><i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle-blank"></i> TUBE <i class="icon-circle-blank"></i><i class="icon-minus"></i><i class="icon-circle"></i></h1></a>
    <a class="button no-arrow" href="/create">create</a>
    <a class="button no-arrow primary" href="/about">about</a>
{{/about}}
<a></a>