<section id="section-create">
    <div>
        <header>
            <h2>Create a Simulation</h2>
            <div class="header-group">
                <button id="button-create"><i class="icon-ok"></i> Create</button><button id="button-regenerate"><i class="icon-refresh"></i> Regenerate</button><button id="button-layer"><i class="icon-eye-open"></i> In + Out</button></button>
            </div>
        </header>
        <div id="create-map">
            <canvas width="400" height="400"></canvas>
        </div>
        <div id="create-form">
            <form>
                <div>
                    <label>Name</label><input id="input-name" type="text" value="Untitled" required placeholder="enter name here">
                </div>
                <div>
                    <label>Population</label><input id="input-population" value="0" type="text" disabled>
                </div>
            </form>
        </div>
    </div>
</create>