<h2><i class="icon-plus"></i> CREATE A NEW CITY</h2>
<form id="create-form">
    <div>
        <div class="form-label"><label for="city-name">NAME</label></div>
        <div class="form-input"><input id="city-name" type="text" required></div>
    </div>
    <div>
        <div class="form-label"><label for="city-population">POPULATION</label></div>
        <div class="form-input"><input id="city-population" type="text" required value="1000000"></div>
    </div>
    <div>
        <div class="form-label"><label>MAP</label></div>
        <div class="form-input">
            <canvas id="map-preview" width="400" height="400"></canvas>
        </div>
    </div>
    <div>
        <div class="form-label-empty"></div>
        <div class="form-input">
            <button id="regenerate-button"><i class="icon-refresh"></i> REGENERATE MAP</button><button class="primary" id="create-button"><i class="icon-plus-sign"></i> CREATE</button>
        </div>
    </div>
</form>