<section id="section-simulation">
    <div>
        <header>
            <h2>Simulations</h2>
            <div class="header-group">
                <a href="/simulation"><i class="icon-circle-arrow-right"></i> More Simulations</a>
                <a href="/create"><i class="icon-plus-sign"></i> Add One</a>
            </div>
        </header>
        <ul>
            <li>
            </li>
        </ul>
    </div>
</section>
<section id="section-about">
    <div>
    <h2>About</h2>
    </div>
</section>