@import 'nib/reset'
@import 'font-awesome.css'
@import 'arrow'
@import 'color'

@font-face
    font-family: 'Tauri'
    font-style: normal
    font-weight: 400
    src: local('Tauri Regular'), local('Tauri-Regular'), url('/fonts/Tauri.woff') format('woff')


@font-face
    font-family: 'Crete Round'
    font-style: normal
    font-weight: 400
    src: local('Crete Round'), local('CreteRound-Regular'), url('/fonts/CreteRound.woff') format('woff')


$turquoise = #1abc9c
$greensea = #16a085
$emerland = #2ecc71
$nephritis = #27ae60
$peterriver = #3498db
$belizehole = #2980b9
$amethyst = #9b59b6
$wisteria = #8e44ad
$wetasphalt = #34495e
$midnightblue = #2c3e50
$sunflower = #f1c40f
$orange = #f39c12
$carrot = #e67e22
$pumpkin = #d35400
$alizarin = #e74c3c
$pomegranate = #c0392b
$clouds = #ecf0f1
$silver = #bdc3c7
$concrete = #95a5a6
$asbestos = #7f8c8d
$basalt = #38383a

// $gruen = darken($nephritis, 40%)
// $blau = $gold
// $blau = darken($belizehole, 40%)
$gold = darken($sunflower, 10%)
$color = $gold

global-reset()
html5-reset()

//
//  ELEMENTAL
//

mask()
    -webkit-mask-image: url(/images/grunge.png)
    -moz-mask-image: url(/images/grunge.png)
    mask-image: url(/images/grunge.png)
    

html
body
    height: 100%
    font-family: 'Tauri'
    // text-transform: uppercase
    height: 100%
    background: $clouds
    color: $basalt

a
    text-decoration: none
    color: inherit

input
    background: inherit
    border: none
    color: inherit
    font-size: 150%

button
    background: inherit
    border: none
    color: inherit
    border-radius: 4px
    font-size: 120%
    padding: 5px 15px
    margin: 5px
    cursor: pointer

label
    font-size: 150%
    padding-right: 20px


//
//  Stuctural
//

$headerHeight = 60px



#header
    height: $headerHeight
    background: $gold
    .link
        color: $clouds
        font-size: 120%
        display: block
        float: right
        line-height: $headerHeight

#header > div
    width: 1000px
    margin: 0 auto



h1
    height: $headerHeight
    line-height: $headerHeight
    color: white
    float: left
    font-size: 250%
    font-family: 'Crete Round'

h2
    color: $basalt
    font-size: 200%
    font-family: 'Crete Round'

section header

    margin-bottom: 20px
    overflow: hidden

    h2
        float: left

    .header-group
        float: right
    a
        float: right
        padding-left: 40px
        line-height: 200%
        font-size: 120%

//
//  Sections
//



section
    padding: 40px 0

section > div
    width: 1000px
    margin: 0 auto


#section-simulation

    // border-top: $blau 10px dashed
    height: 200px
    // background: white

    // border: 10px darken($belizehole, 20%) dashed
    // border-bottom: 10px darken($belizehole, 20%) dashed


#section-about

    height: 200px


//
//  Create
//

#section-create

    overflow: hidden

    canvas
        border: 10px solid $clouds


    #create-map
    #create-form
        float: left    

    button
        background: $basalt
        color: white

        &:hover
            background: $color
            color: white


    #button-layer
        width: 140px

    form
        padding-left: 40px
        > div
            padding: 10px 0

//
//  Home
//  

$simulationItemSize = 300px
$simulationItemMargin = 0px

.simulation-item
    float: left
    width: $simulationItemSize
    height: $simulationItemSize
    margin-bottom: 50px
    margin-right: 50px
    // background: white

    figcaption
        margin: $simulationItemMargin
        margin-top: 240px + $simulationItemMargin
        width: $simulationItemSize - $simulationItemMargin * 2 - 40
        padding: 10px
        height: 20px
        line-height: 20px


        background: rgba($clouds, 0.7);
        // color: white
        position: absolute

    .simulation-item-name
        padding: 0 5px
        font-size: 120%
    .simulation-item-name:first-letter
        text-transform: uppercase



    .simulation-item-population
        color: $gold
        font-size: 75%


    canvas
        // background: white
        margin: $simulationItemMargin

.simulation-item:nth-of-type(3n)
    margin-right: 0px
