@import 'font-awesome.css';
@font-face{font-family:'Tauri';font-style:normal;font-weight:400;src:local('Tauri Regular'),local('Tauri-Regular'),url("/fonts/Tauri.woff") format('woff')}
@font-face{font-family:'Crete Round';font-style:normal;font-weight:400;src:local('Crete Round'),local('CreteRound-Regular'),url("/fonts/CreteRound.woff") format('woff')}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html,body{height:100%;font-family:'Tauri';height:100%;background:#ecf0f1;color:#38383a}
a{text-decoration:none;color:inherit}
input{background:inherit;border:none;color:inherit;font-size:150%}
button{background:inherit;border:none;color:inherit;border-radius:4px;font-size:120%;padding:5px 15px;margin:5px;cursor:pointer}
label{font-size:150%;padding-right:20px}
h1{height:100px;line-height:100px;color:#ecf0f1;text-align:center;font-size:300%;font-family:'Crete Round'}
h2{color:#38383a;font-size:200%;font-family:'Crete Round'}
section header{margin-bottom:20px;overflow:hidden;}
section header h2{float:left}
section header .header-group{float:right}
section header a{float:right;padding-left:40px;line-height:200%;font-size:120%}
#header{height:100px;background:#38383a}
section{padding:40px 0}
section > div{width:1000px;margin:0 auto}
#section-simulation{height:200px}
#section-about{height:200px}
#section-create{overflow:hidden;}
#section-create canvas{border:10px solid #ecf0f1}
#section-create #create-map,#section-create #create-form{float:left}
#section-create button{background:#38383a;color:#fff;}
#section-create button:hover{background:#dab10d;color:#fff}
#section-create #button-layer{width:140px}
#section-create form{padding-left:40px;}
#section-create form > div{padding:10px 0}
