@import 'font-awesome.css';
@font-face{font-family:'Tauri';font-style:normal;font-weight:400;src:local('Tauri Regular'),local('Tauri-Regular'),url("/fonts/Tauri.woff") format('woff')}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html,body,#container{height:100%;font-family:'Tauri';color:#333;text-transform:uppercase;-webkit-mask-image:url("/images/grunge.png");-moz-mask-image:url("/images/grunge.png");mask-image:url("/images/grunge.png")}
a{text-decoration:none;color:inherit}
p{padding:0 40px}
h2{height:60px;line-height:60px;margin-bottom:10px;font-size:150%;color:#fff;background:#333;padding:0 40px}
button{height:60px;padding:0 20px;margin-right:10px;line-height:60px;border:none;font-size:inherit;font-family:inherit;border-radius:4px;cursor:pointer;color:#fff;background:#333;}
button:hover{background:#444}
button.primary{background:#c0392b}
button.primary:hover{background:#d24435}
#nav-container{position:fixed;width:100%;height:50px;padding:20px 0;background:#333}
#nav{margin:0 20px;overflow:hidden;background:#333;}
#nav > a{display:block;float:left;padding:0 15px 0 30px;height:50px;background:#fff;text-align:center;line-height:50px;font-size:150%;cursor:pointer;position:relative;position:relative;border-left:12px solid #333;}
#nav > a:hover{background:#e6c200;}
#nav > a:hover:after{border-left-color:#e6c200 !important}
#nav > a:after{content:'';display:block;width:0;height:0;border-top:25px solid transparent;border-bottom:25px solid transparent;border-left:12.5px solid #fff;position:absolute;margin-top:-50px;left:100%;z-index:2;}
#nav > a:after:hover{background:#008000}
#nav > a:before{content:'';display:block;width:0;height:0;border-top:25px solid transparent;border-bottom:25px solid transparent;border-left:12.5px solid #333;position:absolute;left:0%;z-index:1}
#nav > a:first-of-type{border-left:none;padding-left:20px;}
#nav > a:first-of-type:before{display:none}
#nav > a:last-of-type{width:0;padding:0}
#nav a.no-arrow:after{display:none}
#nav a#header{color:#fff;padding:0;background:#c0392b;}
#nav a#header:after{border-left-color:#c0392b !important}
#nav a#header h1{padding:0 20px}
#nav a#header i{font-size:75%;margin:0 -1px}
#nav a:last-of-type{display:none}
#cities{padding-bottom:40px;}
#cities a{overflow:hidden;display:block;margin:10px 0;padding:10px;background:#eee;}
#cities a:hover{background:#c0392b;}
#cities a:hover .city-info{color:#fff;}
#cities a:hover .city-info small{color:#eee}
#cities a .city-info{width:100px;height:40px;padding:20px 20px;display:block;float:left;font-size:120%;color:#c0392b;}
#cities a .city-info small{font-size:75%;color:#333}
#cities a .city-map{width:80px;height:80px;display:block;float:left;}
#cities a .city-map canvas{width:80px;height:80px;background:#fff}
#main-container{padding:100px 20px 20px}
